/*topscreen*/

.colorz {
  background-color: HTML5_1Color_White;
}

.logo {
  float: right;
  padding-top: 2em;
}

.space {
  padding-top: 25em;
}

#firsttext {
  padding-bottom: 2em;
}

h1 {
  font-family: "cinzel", serif;
  font-size: 3em;
  padding-bottom: 20px;
}

p {
  font-family: "oswald", sans-serif;
}

.mobile-text {
  padding-top: 20px;
}

.rule {
  padding-top: 1em;
  background-color: #1A1C6B;
}

/*tech*/
#tech {
  background-color: #1A1C6B;
}

h2 {
  font-family: "cinzel", sans-serif;
  margin: 50px 0px 0px 0px;
}

#techitems > h2 {
  padding: 25px 0px;
  color: white;
}

.spacerow {
  padding-bottom: 2em;
}

/*award*/
.awards {
  background-color: #white;
}

.headspace {
  padding: 0px 0px;
}

.textspace {
  padding: 0px 0px 50px 0px;
}

.newsborder {
  border: 3px solid rgba(192,192,192,0.7);
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.grayback {
  background-color: white;
}

/*news design*/

.DT {
  margin: auto;
  display: block;
  padding: 25px 0px 25px 0px;
}

/*footer*/

.just_gray {
  padding-top: 12em;
  background-color: #D0D0D0;
}
