#top {
  background-color: #e0ffff;
}

.space {
  padding-top: 20em;
}

#firsttext {
  padding-bottom: 2em;
}

.logo {
  float: right;
  padding-top: 2em;
}

/*tech*/
#tech {
  background-color: #1A1C6B;
}

#techitems > h2 {
  padding: 25px 0px;
  color: white;
}

.spacerow {
  padding-bottom: 2em;
}
